<div class="text-center">
     <div class="anm-check">
          <section id="anmm-bla" class="anm-check-done"><section>
     </div>
</div>
<div class="mb-3 text-center">
   <h3 class="heading-center">
        {{msg}}
   </h3>
</div>

<script type="text/javascript">
     setTimeout(function() {
          document.getElementById("anmm-bla").classList.add("anm-check-done-done");
     }, 100);
</script>
