
<div class="row space-a mt-10">
    <div class="col-6 col-8-md col-10-sm col-12-xs">
        <div class="card">
            <div class="card-body mt-2">
                 <div class="text-center">
                      <div class="anm-check">
                           <section id="anmm-bla" class="anm-check-done"><section>
                      </div>
                 </div>
                <div class="mb-3 text-center">
                    <h3 class="heading-center">
                         {{msg}}
                         {{#if loged}}
                              Back
                         {{/if}}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     setTimeout(function() {
          document.getElementById("anmm-bla").classList.add("anm-check-done-done");
     }, 100);
</script>
