<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
          <title>{{ title }}</title>
          <link rel="stylesheet" href="http://spyder.epicofjs.com/main.css">
          <link rel="stylesheet" href="/css/this.css">
     </head>
     <body class="">
          <nav class="nav nav-corner nav-hide-sm p-1-sm">
               <div class="nav-logo m-0 ml-2">
                    <div class="nav-text">
                         SPYDER
                    </div>
               </div>
               <div class="nav-opener">
                    <div class="hamburger">

                    </div>
               </div>
               <div class="nav-body text-white bg-dark p-1">
                    <div class="nav-item">
                         <a href="/" class="link link-prime">Home</a>
                    </div>
                    <div class="nav-item">
                         <a href="/login" class="link link-prime">Login</a>
                    </div>
                    <div class="nav-item">
                         <a href="/signup" class="link link-prime">Signup</a>
                    </div>
                    <div class="nav-item">
                         <a href="/logout" class="link link-prime">Logout</a>
                    </div>
               </div>
          </nav>
          {{{body}}}
          <script src="http://spyder.epicofjs.com/main.js"></script>
          <script src="/js/this.js"></script>
     </body>
</html>
